         <!--
                                                                                                                                                                                                         
                                                                                         ` , : : : : : : : : : , `                                                                                       
                                                                                       ` ; ' ' ' ' ' ' ' ' ' ' ' :                                                                                       
                                                                                       . ' ' ' ' ' ' ' ' ' ' ' ' ' .                                                                                     
                                                                                       . ' ' ' ' ' ' ' ' ' ' ' ' ' .                                                                                     
                                                                                       . ' ' ' ' ' ' ' ' ' ' ' ' ; `                                                                                     
                                                                                 ` . : ; ' ' ' ' ' ' ' ' ' ' ' ' ' : , .                                                                                 
                                                       ` `                 ` , ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; : .                   `                                                       
                                                     , ' ' ,           . ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; : `         ` ; ' ; .                                                   
                                                 ` : ' ' ' ' ,     , ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' : .   ` ; ' ' ' ' .                                                 
                                               ` ; ' ' ' ' ' ; , ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' : : ' ' ' ' ' ' ,                                               
                                             . ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' : `                                           
                                           , ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; `                                         
                                       ` : ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; .                                       
                                     ` : ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; ; : , , , , : : ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' .                                     
                                     . ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; , . ` ` `               ` ` . , : ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; `                                   
                                     ` ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' , ` `                                   ` . : ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' :                                     
                                       , ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; , `                                               ` : ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; `                                     
                                         , ' ' ' ' ' ' ' ' ' ' ' ' ' ' , `               `                   ` . `               ` : ' ' ' ' ' ' ' ' ' ' ' ' ' ; `                                       
                                         . ' ' ' ' ' ' ' ' ' ' ' ' : `               ` . .                   . ; , `                 . ' ' ' ' ' ' ' ' ' ' ' ' ; `                                       
                                       . ' ' ' ' ' ' ' ' ' ' ' ' ,               ` , ; ' ' ,               ` ; ' ' ; : . `             ` : ' ' ' ' ' ' ' ' ' ' ' :                                       
                                     ` ; ' ' ' ' ' ' ' ' ' ' ; .             . : ' ' ' ' ' ; ` ` . . . . ` , ' ' ' ' ' ' ' ,               , ' ' ' ' ' ' ' ' ' ' ' ,                                     
                                     : ' ' ' ' ' ' ' ' ' ' ; `             . ' ' ' ' ' ' ' ' ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; `               , ' ' ' ' ' ' ' ' ' ' ' ,                                   
                                   . ' ' ' ' ' ' ' ' ' ' ; `               . ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' :                   , ' ' ' ' ' ' ' ' ' : .                                   
                                 ` ; ' ' ' ' ' ' ' ' ' ; `                 ` : ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' : `                   , ' ' ' ' ' ; , .                                       
                                 , ' ' ' ' ' ' ' ' ' ' .                   , ' ' ' ' ' ' ' ' ' ' ' ' ' ; ; ; ; ; ; ; ; ; ' ' ; ,                   , ' ' , . `                                           
                               . ' ' ' ' ' ' ' ' ' ' .                 ` : ' ' ' ' ' ' ' ' ' ' ; : : : : : : : : : : : : : ; ; ; ; `                 . `                                                 
                       ` `     : ' ' ' ' ' ' ' ' ' ,                 . ; ' ' ' ' ' ' ' ' : : , , : : : : : : : : : : : : : : : : : : : , `                                                               
                     : ' ' : , ' ' ' ' ' ' ' ' ' ; `       ` , `   . ' ' ' ' ' ' ' ; : , , , : , , , . ` ` ` ` ` ` ` ` . , , , : : : : : : : , `                                                         
                   . ' ' ' ' ' ' ' ' ' ' ' ' ' ' .       ` ; ' ; , ' ' ' ' ' ' ; , , , : : : .       ` ` ` ` ` ` ` ` ` `       ` . , : ; ; ; ; : .                       ` . `                           
                   : ' ' ' ' ' ' ' ' ' ' ' ' ' :         , ' ' ' ' ' ' ' ' ; , , , : : . , : . ` . , : : : : : : : : : : , , . ` `     . : ; ; ; ; , `             ` ` , ; ' :                           
                   ; ' ' ' ' ' ' ' ' ' ' ' ' ' .       . ' ' ' ' ' ' ' ' ; , , , : : `   . : : : ; ; ; : : : : : : : : ; ; ; ; : : , . `   . : ; ' ' , `       ` , : ' ' ' ' ; `                         
                 . ; ' ' ' ' ' ' ' ' ' ' ' ' :       ` : ' ' ' ' ' ' ' : . , : : : , ` . : : : : : : : : : : : : : : : : : : : ; ; ; ; : .   ` : ' ' ' , ` . : ' ' ' ' ' ' ' ' ,                         
                 , ' ' ' ' ' ' ' ' ' ' ' ' ' .       , ' ' ' ' ' ' ' : . , : : : : : : ; : : : : : : : : : : : : : : : : : : : : : : ; ; ; : ` ` : ' + + ; ' ' ' ' ' ' ' ' ' ' :                         
                 : ' ' ' ' ' ' ' ' ' ' ' ' : `     ` ; ' ' ' ' ' ' : . , : : : : : : : : : : : : : : : : : : : : : : : : : ; ; ; ; ; ; ; ; ; : ` ` ; + # + + ' ' ' ' ' ' ' ' ' ; `                       
               ` ; ' ' ' ' ' ' ' ' ' ' ' ' ,         . ' ' ' ' ' ; . , : : : : : : : : : : : : : : : : : : : : : : : ; ; ; ; ; ; ; ; ; ; ; ; ; : , ; ' + # + ' ' ' ' ' ' ' ' ' ' .                       
               . ' ' ' ' ' ' ' ' ' ' ' ' ; .           ` ; ' ' ' , , : : : : : : : : : : : : : : : : : : : : : ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ' ; ' + # + + ' ' ' ' ' ' ' ' ' ,                       
               , ' ' ' ' ' ' ' ' ' ' ' ' :             ` : ' ' : . , : : : : : : : : : : : : : : : : : : ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ' + # # + ' ' ' ' ' ' ' ' ' :                       
             , : ' ' ' ' ' ' ' ' ' ' ' ' :             . ' ' ' , , : : : : : : : : : : : : : : : : ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ' + # # + ' ' ' ' ' ' ' ' ' ; `                     
             . : ' ' ' ' ' ' ' ' ' ' ' ' ,             , ' ' : . , : : : : : :                                 ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ' ' ' + # # + ' ' ' ' ' ' ' ' ' ' .                     
               . ; ' ' ' ' ' ' ' ' ' ' ; `           ` : ' ' : , : : : : : : :  DEVELOPERS ARE ALWAYS WELCOME. ; ; ; ; ; ; ; ; ; ; ; ; ; ; ' ' ' ' ' ' + # # + ' ' ' ' ' ' ' ' ' ' .                     
                 ` , : ' ' ' ' ' ' ' ' ; `           ` ; ' ; , , : : : : : : :  IF YOU WOULD LIKE TO WORK      ; ; ; ; ; ; ; ; ; ; ; ' ' ' ' ' ' ' ' + # # + + ' ' ' ' ' ' ' ' ' ' .                     
                       ; ' ' ' ' ' ' ' ; `       , : : ' ' ; , , : : : : ; ; ;  WITH US, SEND YOUR RESUME TO   ; ; ; ; ; ; ; ; ' ' ' ' ' ' ' ' ' ' ' + # # ' ; , : ' ' ' ' ' ' ' ' .                     
                     ` ; ' ' ' ' ' ' ' ; `     . ' ' ' ' ; : , : : ; ; ; ; ; ;  CAREERS@EGGIE.CO AND LET'S     ; ; ; ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' + # # ' , `   . ' ' ' ' ' ' ' ' ,                     
                     ` ; ' ' ' ' ' ' ' : `     . ' ' ' ' : , , : ; ; ; ; ; ; ;  GET TO WORK!                   ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + # + .       . ' ' ' ' ' ' ' ' ,                     
                     ` ; ' ' ' ' ' ' ' : `     . ' ' ' ' : , : : ; ; ; ; ; ; ;                                 ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + # # ; `       . ' ' ' ' ' ' ' ' ,                     
                     ` ; ' ' ' ' ' ' ' : `     . ' ' ' ' : : : ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + # + .         . ' ' ' ' ' ' ' ' ,                     
                     ` ; ' ' ' ' ' ; , `       . ' ' ' ' ; : : ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + # # ; `         , ' ' ' ' ' ' ' ' ,                     
                     ` ; ' ' ' : .             . ' ' ' ' ; : : ; ; ; ; ; ; ; ; ; ; ; ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + # # .           , ' ' ' ' ' ' ' ' .                     
                     ` ; ; . `                 ` ; ' ' ' ' ; : ; ; ; ; ; ; ; ; ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + # # ' `           , ' ' ' ' ' ' ' ' ; , `                 
                       , .                       . , , ; ' ' : : ; ; ; ; ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + # # # :             : ' ' ' ' ' ' ' ' ' ' ' : .             
                                                       . ' ' : : ; ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + # # # + .             ; ' ' ' ' ' ' ' ' ' ' ' ' ;             
                                                       . ' ' ; : ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + # # + ; `           . ; ' ' ' ' ' ' ' ' ' ' ' ' ;             
                                       . . `           ` : ' ' : ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + # # + + ,             , ' ' ' ' ' ' ' ' ' ' ' ' ' :             
                                 ` , : ' ' .             . ' ' ; ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + # # # + ' : .           : ' ' ' ' ' ' ' ' ' ' ' ' : `             
                           ` . : ; ' ' ' ' ,             ` : ' ' ; ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + # # # + ' ' ' ; .       ` ; ' ' ' ' ' ' ' ' ' ' ' ' ,               
                       ` . ; ' ' ' ' ' ' ' ; `           ` : ' ' ' ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + # # # + ' ' ' ' ' ,       , ' ' ' ' ' ' ' ' ' ' ' ' ' .               
                       ` . ' ' ' ' ' ' ' ' ' .         ` ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + + # # # + ' ' ' ' ' ; `       : ' ' ' ' ' ' ' ' ' ' ' ' ; `               
                         ` : ' ' ' ' ' ' ' ' :         , ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + # # # + + ' ' ' ' ' ' .       . ' ' ' ' ' ' ' ' ' ' ' ' ' :                 
                           . ' ' ' ' ' ' ' ' ' .       . ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + + # # # + + ' ' ' ' ' ' :         : ' ' ' ' ' ' ' ' ' ' ' ' ' ,                 
                           ` ; ' ' ' ' ' ' ' ' ; `       , ' ' ' ' ' ' ' + ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + + # # # # + ' ' ' ' ' ' ' ' `       . ' ' ' ' ' ' ' ' ' ' ' ' ' ; `                 
                             , ' ' ' ' ' ' ' ' ' ,       ` : ' ' ' ' ' ' ' + + ' ' ' ' ' ' ' ' ' ' ' ' ' ' + + + + # # # # + + ' ' ' ' : , ; ' .       ` ; ' ' ' ' ' ' ' ' ' ' ' ' ' :                   
                             ` ; ' ' ' ' ' ' ' ' ' .       ` ; ' ' ' ; ' ' ' + + + + + + + + ' ' + + + + + + + # # # # + + ' ' ' ' ' :     ` .         , ' ' ' ' ' ' ' ' ' ; , : ; : `                   
                               , ' ' ' ' ' ' ' ' ' ; `       . ; ' : ` , ' ' ' + + + + + + + + + + + + + # # # # # + + ' ' ' ' ' ' ,                 . ' ' ' ' ' ' ' ' ' ; `     `                       
                               ` ; ' ' ' ' ' ' ' ' ' :         ` .       . ; ' ' ' + + + + + + # # # # # # # + + + ' ' ' ' ' ' ; .                 ` ; ' ' ' ' ' ' ' ' ' :                               
                                 , ' ' ' ' ' ' ' ' ' ' ,                   ` : ' ' ' ' ' + + + + + + + + + + + ' ' ' ' ' ' ' : `                 ` ; ' ' ' ' ' ' ' ' ' ; `                               
                                 ` : ' ' ' ' ' ' ' ' ' ' ,                   ` ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ,                 ` ; ' ' ' ' ' ' ' ' ' ' .                                 
                                   ` ; ' ' ' ' ' ' ' ' ' ' ,                 . ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; `             ` ; ' ' ' ' ' ' ' ' ' ' :                                   
                                     , ' ' ' ' ' ' ' ' ' ' ' ,               , ' ' ' ' ' ' ' ' ; : ; ; ; : : ; ' ' ' ' ' ' ' :             ` ; ' ' ' ' ' ' ' ' ' ' ; `                                   
                                       : ' ' ' ' ' ' ' ' ' ' ' : `           ` : ; ' ' ' ' ' :               . ' ' ' ' ' : , `           . ; ' ' ' ' ' ' ' ' ' ' ' .                                     
                                       ` : ' ' ' ' ' ' ' ' ' ' ' ; .             ` , : ; ' ' ,                 : ' ; , .             ` , ' ' ' ' ' ' ' ' ' ' ' ' .                                       
                                         , ' ' ' ' ' ' ' ' ' ' ' ' ' : .               ` . . `                 ` . `             ` . ; ' ' ' ' ' ' ' ' ' ' ' ' ; `                                       
                                       . ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; , .                                                 ` . : ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' :                                       
                                     ` ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' : . `                                       ` , : ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ,                                     
                                     . ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; : . ` `                       ` . , : ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; `                                   
                                     ` ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; ; : , , . . . . . , : : ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ,                                     
                                       . ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' : `                                     
                                         ` ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ,                                         
                                           ` : ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; .                                           
                                               , ' ' ' ' ' ' ' ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; ; ' ' ' ' ' ' ; `                                             
                                                 . ; ' ' ' ' : ` . : ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; , ` . ' ' ' ' ' : `                                               
                                                   ` ; ' ' : `       . : ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; , `       , ' ' ' , `                                                 
                                                     ` , , `             ` , : ; ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; : . `             . , .                                                     
                                                                               ` . , : ' ' ' ' ' ' ' ' ' ' ' ' ' ' ; : , . `                                                                             
                                                                                       : ' ' ' ' ' ' ' ' ' ' ' ' ; `                                                                                     
                                                                                       : ' ' ' ' ' ' ' ' ' ' ' ' ; `                                                                                     
                                                                                       : ' ' ' ' ' ' ' ' ' ' ' ' ; `                                                                                     
                                                                                       . ' ' ' ' ' ' ' ' ' ' ' ' :                                                                                       
                                                                                         . : : : : : : : : : ; , `                                                                                       
                                                                                         ` , , , , , , , , , , .                                                                                         
                                                                                                                                                                     
            -->

<!DOCTYPE html>
<!--[if IE 9]>         
<html class="ie9 no-focus" lang="en">
   <![endif]-->
   <!--[if gt IE 9]><!--> 
   <html class="no-focus" lang="en">
      <!--<![endif]-->
      <head>
         <meta charset="utf-8">

         <title>Eggie</title>
         {% load staticfiles %}
         <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest | This is the demo of OneUI! You need to purchase a license for legal use! | DEMO">
         <meta name="author" content="pixelcave">
         <meta name="robots" content="noindex, nofollow">
         <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
         <link rel="shortcut icon" type="image/png" href="{% static 'img/eggie_logo.png' %}"/>
         <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16">
         <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32">
         <link rel="icon" type="image/png" href="{% static 'img/favicon-96x96.png' %}" sizes="96x96">
         <link rel="icon" type="image/png" href="{% static 'img/favicon-160x160.png' %}" sizes="160x160">
         <link rel="icon" type="image/png" href="{% static 'img/favicon-192x192.png' %}" sizes="192x192">
         <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-touch-icon-57x57.png' %}">
         <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-60x60.png' %}">
         <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
         <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-touch-icon-76x76.png' %}">
         <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">
         <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-touch-icon-120x120.png' %}">
         <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144.png' %}">
         <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-touch-icon-152x152.png' %}">
         <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon-180x180.png' %}">
         <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
         <link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
         <link rel="stylesheet" id="css-main" href="{% static '../static/css/oneui.css' %}">
         
         <style>
            .fa-circle-o-notch{
               color:#f27935;
            }
            
            .body_container{
               background-color:white;
            }
         </style>
      </head>
      <body>
         <div class="body_container">
         <div>
            <div class="content content-boxed overflow-hidden">
               <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                     <div class="push-30-t push-20 animated fadeIn">
                        <a href="../login/">Already Have an Account?</a><br><br>
                        <center><img src="{% static '/img/eggie_logo_2.png' %}"></center>
                        <form class="js-validation-register form-horizontal push-50-t push-50" action="../register/" method="post">
                           {% csrf_token %}
                           <div class="form-group">
                              <div class="col-xs-12">
                                 <div class="form-material form-material-warning">
                                    <input class="form-control" type="text" id="username" name="registerusername" required placeholder="Please enter a username">
                                    {% if form.username.errors %}
                                    <font color="red"><label for="username">Username is taken </label></font>
                                    {% else %}
                                    <label for="username">Username</label>
                                    {% endif %}
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-xs-12">
                                 <div class="form-material form-material-warning">
                                    <input class="form-control" type="email" id="email" name="registeremail" required placeholder="Please provide your email">
                                    {% if form.email.errors %}
                                    <font color="red"><label for="registeremail">Email is invalid or taken</label></font>
                                    {% else %}
                                    <label for="email">Email</label>
                                    {% endif %}
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-xs-12">
                                 <div class="form-material form-material-warning">
                                    <input class="form-control" type="password" id="registerpassword1" 
                                    onChange="checkPasswordMatch();" required name="registerpassword1" placeholder="Choose a strong password of 8 characters or more...">
                                    <label for="register-password">Password</label>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-xs-12">
                                 <div class="form-material form-material-warning">
                                    <input class="form-control" type="password" id="registerpassword2" required
                                    onChange="checkPasswordMatch();" name="registerpassword2" placeholder="..and confirm it">
                                    <label id='registerpassword2label' for="registerpassword2">Confirm Password</label>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-xs-12">
                                 <div class="form-material form-material-warning">
                                    <input class="form-control" type="phone" id="phone" name="phone" maxlength='10' required placeholder="Enter your phone number">
                                    <label for="phone">Phone number</label>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-xs-12">
                                 <div class="form-material form-material-warning">
                                    <input class="form-control" type="text" id="seller_id" name="registerseller_id" maxlength='200' required placeholder="Enter your seller ID">
                                    <label for="registerseller_id">Newegg Seller ID</label>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-xs-12">
                                 <div class="form-material form-material-warning">
                                    <input class="form-control" type="text" id="registerauthorization" required name="registerauthorization" maxlength='200' placeholder="Enter your authorization code">
                                    <label for="registerauthorization">Newegg Authorization Code</label>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-xs-7 col-sm-8">
                                 <label class="css-input switch switch-sm switch-warning">
                                 <input type="checkbox" id="register-terms" name="register-terms"><span></span> I agree with terms &amp; conditions
                                 </label>
                              </div>
                              <div class="col-xs-5 col-sm-4">
                                 <div class="font-s13 text-right push-5-t">
                                    <a href="#" data-toggle="modal" data-target="#modal-terms">View Terms</a>
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                 <button class="btn btn-sm btn-block btn-warning" id="create_account" type="submit">Create Account</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pulldown push-30-t text-center animated fadeInUp"></div>
         <div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-popout">
               <div class="modal-content">
                  <div class="block block-themed block-transparent remove-margin-b">
                     <div class="block-header bg-primary-dark">
                        <ul class="block-options">
                           <li>
                              <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                           </li>
                        </ul>
                        <h3 class="block-title">Terms &amp; Conditions</h3>
                     </div>
                     <div class="block-content">
                        <p>New account registration is temporarily disabled.  For all inquiries, please contact <a href="mailto:info@eggie.co">info@eggie.co</a></p>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                     <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> I agree</button>
                  </div>
               </div>
               </div>
            </div>
         </div>
         

         
         <script src="{% static '../static/js/core/jquery.min.js' %}"></script>
         <script src="{% static '../static/js/core/bootstrap.min.js' %}"></script>
         <script src="{% static '../static/js/core/jquery.slimscroll.min.js' %}"></script>
         <script src="{% static '../static/js/core/jquery.scrollLock.min.js' %}"></script>
         <script src="{% static '../static/js/core/jquery.appear.min.js' %}"></script>
         <script src="{% static '../static/js/core/jquery.countTo.min.js' %}"></script>
         <script src="{% static '../static/js/core/jquery.placeholder.min.js' %}"></script>
         <script src="{% static '../static/js/core/js.cookie.min.js' %}"></script>
         <script src="{% static '../static/js/app.js' %}"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
         <script src="{% static '../static/js/pages/base_pages_register.js' %}"></script>
         <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-16158021-6', 'auto');ga('send', 'pageview');</script>

         <script>
         function checkPasswordMatch() {
    var password = $("#registerpassword1").val();
    var confirmPassword = $("#registerpassword2").val();
    if (password !== confirmPassword || password.length < 8 ){
        document.getElementById("create_account").disabled=true;
        document.getElementById('registerpassword2label').innerHTML='Passwords do not match or password is too short';
        document.getElementById('registerpassword2label').style.color='red';
    }
    else{
        document.getElementById("create_account").disabled=false;
        document.getElementById('registerpassword2label').innerHTML='Passwords match';
        document.getElementById('registerpassword2label').removeAttribute('style');
    }
    
}

$(document).ready(function () {
   $("#registerpassword2").keyup(checkPasswordMatch);
   document.getElementById("create_account").disabled=true;
});
</script>
      </body>
   </html>